<div id="cookie-banner">
  This website is hosted using GitHub Pages, which uses a global content delivery network (CDN) to display content reliably. Some non-personal data like your IP address may be used to help deliver the site properly.<br><br>

  We use a temporary cookie to remember your consent for 1 day. Learn more in our 
  <a href="/privacy" target="_blank" rel="noopener noreferrer nofollow">Privacy Policy</a>.<br><br>

  <button class="btn" id="cookie-consent-btn">I Agree</button>
</div>







<!-- JavaScript-code for the cookie consent-banner -->
<script>
//     if (document.cookie.indexOf('cookieConsent=1') !== -1) {
//         document.getElementById('cookie-banner').style.display = 'none';
//     }

//   function setCookieConsent() {
//       document.getElementById('cookie-banner').style.display = 'none';

//       var expiresDate = new Date();
//       expiresDate.setDate(expiresDate.getDate() + 1);

//       document.cookie = 'cookieConsent=1; expires=' + expiresDate.toUTCString() + '; path=/';
//   }

//     document.getElementById('cookie-consent-btn').addEventListener('click', setCookieConsent);
</script>